[ENGINE]
Response File Version=1.0.0.0.0

[GENERIC]
ORACLE_HOME=###ODEE_HOME###
HOST_NAME=COMPUTERNAME
ADMIN_GROUP=Documaker Administrators
ADMIN_USER=documaker
ADMIN_PASSWORD="###ODEE_PWD###"
ADMIN_CFM_PASSWORD="###ODEE_PWD###"
DB_TYPE=Oracle DB
DB_HOST=localhost
DB_PORT=###LISTENER_PORT###
DB_NAME=###ORACLE_PDB###
ADV_COMP=false
DB_SERVICE_TYPE=ServiceName
ORA_DB_PORT=###LISTENER_PORT###
CONN_STRING=localhost:###LISTENER_PORT###:###ORACLE_PDB###

DB2_DB_PORT=50000
DB2zOS_DB_PORT=4103
DB2zOS_DB_LOCATION=LOC3
MSSQL_DB_PORT=1433
DERBY_DB_PORT=1527
REQUIRED_DISK_SPACE=1784
STORAGE_GROUP_VOL='*'
DSSIZE=1G
TRACKMOD=true
4K_BUFFERPOOL=BP7
8K_BUFFERPOOLS_SMALL=BP8K0
16K_BUFFERPOOLS_SMALL=BP16K0
32K_BUFFERPOOLS_SMALL=BP32K0
8K_BUFFERPOOLS_LARGE=BP8K1
16K_BUFFERPOOLS_LARGE=BP16K1
32K_BUFFERPOOLS_LARGE=BP32K1
DB_FOLDER=
DB_INDEX_FOLDER=
MAIN_STORAGE_GROUP=AD1SG
INDEX_STORAGE_GROUP=AD1IG

DB_USER=dmkr_admin
DB_PASSWORD="###ODEE_SCHEMA_PWD###"
DB_CFM_PASSWORD="###ODEE_SCHEMA_PWD###"
DB_SYSTEM_ID=1
DB_SYSTEM_NAME=System 1

ASM_DB_FOLDER=
ASM_DB_INDEX_FOLDER=
ASM_MAIN_STORAGE_GROUP=AL1SG
ASM_INDEX_STORAGE_GROUP=AL1IG

ASM_DB_USER=dmkr_asline
ASM_DB_PASSWORD="###ODEE_SCHEMA_PWD###"
ASM_DB_CFM_PASSWORD="###ODEE_SCHEMA_PWD###"
ASM_DB_SYSTEM_ID=1
ASM_DB_SYSTEM_NAME=Assembly Line 1
UNIQUE_SERVICE_NAME=(dmkr_asline:1:1)

AS_TYPE=WebLogic Server
AS_USER=weblogic
AS_PASSWORD="###WLS_PWD###"
AS_CFM_PASSWORD="###WLS_PWD###"

AS_HOST=localhost
AS_PORT=###MW_PORT_ADMIN###

AS_PROJ_PATH=###ORACLE_BASE###/domains
AS_DOMAIN_NAME=###ODEE_DOMAIN###

AS_ADMIN_SERVER=AdminServer
AS_DEFAULT_SERVER_NAME=
AS_CLUSTER_NAME=
AS_MACHINE_NAME=
AS_COHERENCE_CLUSTER_NAME=
JMS_TYPE=WebLogic JMS Server
CONN_CLASS=oracle.documaker.bus.messaging.jms.JMSJNDIMessageQueueFactory

INIT_CONTEXT_FACTORY=weblogic.jndi.WLInitialContextFactory
PROVIDER_URL=t3://localhost:###MW_PORT_JMS###
PRINCIPAL=weblogic
CREDENTIALS="###WLS_PWD###"
CFM_CREDENTIALS="###WLS_PWD###"

WL_CONN_CLASS=oracle.documaker.bus.messaging.jms.JMSJNDIMessageQueueFactory
WL_INIT_CONTEXT_FACTORY=weblogic.jndi.WLInitialContextFactory
WL_PROVIDER_URL=:###MW_PORT_JMS###

FS_CONN_CLASS=oracle.documaker.bus.messaging.jms.JMSJNDIMessageQueueFactory
FS_INIT_CONTEXT_FACTORY=com.sun.jndi.fscontext.RefFSContextFactory
FS_PROVIDER_URL=/documaker/mq/var/tmp/
WS_CONN_CLASS=oracle.documaker.ids.JMSConnection
WS_INIT_CONTEXT_FACTORY=com.ibm.websphere.naming.WsnInitialContextFactory
WS_PROVIDER_URL=:9502
JMS_CONDITION_CONFIGURE_MODE=true
HOT_FOLDER=###ODEE_HOME###/documaker/hotdirectory
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_CFM_PASSWORD=
SMTP_PORT=25
SMTP_SENDER=admin@localhost
SMTP_CONDITION_CONFIGURE_MODE=false
UCM_ENABLE=False
UCM_USER=UCMUserid
UCM_PASSWORD=
UCM_CFM_PASSWORD=
CM_CONN_STR=idc://localhost:4444
UCM_CONN_STR_PRE=idc://
UCM_CONN_STR_POST=:4444
UCM_DOCUMENT_URL=http://localhost:16200//cs/groups/secure/documents/document/
UCM_CONDITION_CONFIGURE_MODE=false
UMS_ENABLE=False
UMS_USER=umsUserId
UMS_PASSWORD=
UMS_CFM_PASSWORD=
UMS_END_POINT=http://localhost:8001/sdpmessaging/parlayx/SendMessageService
UMS_CONDITION_CONFIGURE_MODE=false

[SYSTEM]

[APPLICATIONS]

[RELATIONSHIPS]
