[ENGINE]
Response File Version=1.0.0.0.0

[GENERIC]
ORACLE_HOME=###ODEE_HOME###
HOST_NAME=COMPUTERNAME
ADMIN_GROUP=Documaker Administrators
ADMIN_USER=documaker
ADMIN_PASSWORD=###ODEE_PWD###
ADMIN_CFM_PASSWORD=###ODEE_PWD###
DB_TYPE=Oracle 11g
DB_HOST=localhost

DB_PORT=###LISTENER_PORT###
DB_NAME=###ORACLE_PDB###
ADV_COMP=false
DB_SERVICE_TYPE=ServiceName

ORA_DB_PORT=###LISTENER_PORT###
CONN_STRING=localhost:###LISTENER_PORT###:###ORACLE_PDB###

DB2_DB_PORT=50000
DB2zOS_DB_PORT=4103
DB2zOS_DB_LOCATION=LOC3
MSSQL_DB_PORT=1433
DERBY_DB_PORT=1527
REQUIRED_DISK_SPACE=1443
STORAGE_GROUP_VOL='*'
DSSIZE=1G
TRACKMOD=true
4K_BUFFERPOOL=BP7
8K_BUFFERPOOLS_SMALL=BP8K0
16K_BUFFERPOOLS_SMALL=BP16K0
32K_BUFFERPOOLS_SMALL=BP32K0
8K_BUFFERPOOLS_LARGE=BP8K1
16K_BUFFERPOOLS_LARGE=BP16K1
32K_BUFFERPOOLS_LARGE=BP32K1
DB_FOLDER=
DB_INDEX_FOLDER=
MAIN_STORAGE_GROUP=AD1SG
INDEX_STORAGE_GROUP=AD1IG

DB_USER=dmkr_admin
DB_PASSWORD="###ODEE_SCHEMA_PWD###"
DB_CFM_PASSWORD="###ODEE_SCHEMA_PWD###"
DB_SYSTEM_ID=1
DB_SYSTEM_NAME=System 1
ASM_DB_FOLDER=
ASM_DB_INDEX_FOLDER=
ASM_MAIN_STORAGE_GROUP=AL1SG
ASM_INDEX_STORAGE_GROUP=AL1IG
ASM_DB_USER=dmkr_asline
ASM_DB_PASSWORD="###ODEE_SCHEMA_PWD###"
ASM_DB_CFM_PASSWORD="###ODEE_SCHEMA_PWD###"
ASM_DB_SYSTEM_ID=1
ASM_DB_SYSTEM_NAME=Assembly Line 1
UNIQUE_SERVICE_NAME=localhost_dmkr_asline_Assembly Line 1
AS_TYPE=IBM WebSphere Application Server ND 7
AS_USER=wasadmin
AS_PASSWORD="###WLS_PWD###"
AS_CFM_PASSWORD="###WLS_PWD###"
CONN_CLASS=oracle.documaker.ids.JMSConnection
INIT_CONTEXT_FACTORY=com.ibm.websphere.naming.WsnInitialContextFactory
PROVIDER_URL=iiop://localhost:9502
PRINCIPAL=wasadmin
CREDENTIALS=###WLS_PWD###
CFM_CREDENTIALS=###WLS_PWD###
WL_CONN_CLASS=oracle.documaker.ids.JMSConnection
WL_INIT_CONTEXT_FACTORY=weblogic.jndi.WLInitialContextFactory
WL_PROVIDER_URL=:11001
WS_CONN_CLASS=oracle.documaker.ids.JMSConnection
WS_INIT_CONTEXT_FACTORY=com.ibm.websphere.naming.WsnInitialContextFactory
WS_PROVIDER_URL=:9502
JMS_CONDITION_CONFIGURE_MODE=true
HOT_FOLDER=/opt/oracle/odee/documaker/hotdirectory
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_CFM_PASSWORD=
SMTP_PORT=
SMTP_SENDER=admin@localhost
SMTP_CONDITION_CONFIGURE_MODE=false
UCM_ENABLE=False
UCM_USER=UCMUserid
UCM_PASSWORD=
UCM_CFM_PASSWORD=UCM_CONN_STR=http://localhost:4444
UCM_CONN_STR_PRE=http://
UCM_CONN_STR_POST=:4444
UCM_DOCUMENT_URL=http://localhost:16200//cs/groups/secure/documents/document/
UCM_CONDITION_CONFIGURE_MODE=false
UMS_ENABLE=False
UMS_USER=umsUserId
UMS_PASSWORD=
UMS_CFM_PASSWORD=
UMS_END_POINT=http://localhost:8001/sdpmessaging/parlayx/SendMessageService
UMS_CONDITION_CONFIGURE_MODE=false
DM_WEB_SERVICE_END_POINT=http://localhost:10001/DWSV0AL1/CompositionService?WSDL
APPROVAL_PROCESS_END_POINT=http://localhost:8001/soa-infra/services/default/iDMkr_Correspondence/correspondenceprocesses_client_ep?WSDL
APPROVAL_BUSINESS_RULES_END_POINT=http://localhost:8001/soa-infra/services/default/iDMkrApprovalRulesProj/iDMkrApprovalRules_DecisionService_ep


[SYSTEM]


[APPLICATIONS]


[RELATIONSHIPS]


