operation=createRepository
connectString=localhost:###LISTENER_PORT###:###ORACLE_PDB###
databaseType=ORACLE
dbUser=sys
dbRole=SYSDBA
schemaPrefix=DEV
componentList=STB,OPSS,UCSUMS,IAU,IAU_APPEND,IAU_VIEWER,MDS,WLS
useSamePasswordForAllSchemaUsers=true

#This allows user to skip cleanup on failure. yes | no. Default is no.
skipCleanupOnFailure=yes

#This allows user to skip dropping of table spaces during cleanup on failure. yes | no. Default is no.
skipTableSpaceDropOnFailure=yes

#Absolute path of Wallet directory. If wallet is not provided, passwords will be prompted.
#walletDir=
